@model Web_Plane.Models.ModelClass.dangnhap

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/Content/css/DangNhap.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Dangnhap", "ChucNang", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng nhập</h1>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Nhập Email", @required = "required", @class = "form-control" })
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Nhập mật khẩu", @required = "required", @class = "form-control" })
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="Quen_mat_khau">
                @Html.ActionLink("Quên mật khẩu", "QuenMatKhau", "ChucNang")
            </div>
            <button type="submit" class="btn_Dang_nhap">Đăng nhập</button>

            <div class="Dang_ky_tai_khoan">
                <label>
                    Bạn chưa có tài khoản?
                    @Html.ActionLink("Tạo tài khoản", "DangKy", "ChucNang")
                </label>
            </div>
        }
    </div>
</body>
</html>
