@model Web_Plane.Models.KHACHHANG
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Picture/logomaybay.jpg" rel="icon" type="image/x-icon" />
    <title>Đăng ký</title>
    <link href="~/Content/css/DangKy.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("DangKy", "ChucNang", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Đăng ký</h1>
            <div class="input-box">
                @Html.TextBoxFor(m => m.CCCD, new { @placeholder = "Nhập cccd", @type = "number", @required = "required", @autocomplete = "cccd" })
                <i class='bx bxs-id-card'></i>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.HoTen, new { @placeholder = "Nhập họ và tên", @required = "required", @autocomplete = "name" })
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Sdt, new { @placeholder = "Nhập Số điện thoại của bạn", @required = "required", @autocomplete = "sdt" })
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Nhập Email của bạn", @type = "email", @required = "required", @autocomplete = "email" })
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Nhập mật khẩu", @required = "required", @autocomplete = "new-password" })
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                @Html.PasswordFor(m => m.ConfirmPass, new { @placeholder = "Nhập lại mật khẩu", @required = "required", @autocomplete = "confirm-password" })
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.NgaySinh, new { @placeholder = "Nhập ngày sinh", @type = "date", @required = "required", @autocomplete = "bday", @style = "padding-right: 19px" })
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.DiaChi, new { @placeholder = "Nhập địa chỉ", @required = "required", @autocomplete = "address-line1" })
                <i class='bx bx-map'></i>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.QuocTich, new { @placeholder = "Nhập quốc tịch", @required = "required", @autocomplete = "address-line1" })
                <i class='bx bx-map'></i>
            </div>
            <div class="input-box" style="display: flex; justify-content: center">
                @Html.RadioButtonFor(m => m.GioiTinh, "0", new { @style = "width: 15px; height: 15px; vertical-align: middle; margin: 0 5px 0 0;" }) Nam
                @Html.RadioButtonFor(m => m.GioiTinh, "1", new { @style = "width: 15px; height: 15px; vertical-align: middle; margin: 0 5px 0 5px;" }) Nữ
            </div>
            <div class="Dong_y_dieu_khoan">
                <label><input type="checkbox" id="terms" required />I agree all statements in <a href="#">Terms of service</a></label>
            </div>
            <button type="submit" value="Đăng Ký" class="btn_Dang_ky" id="registerButton">Đăng ký</button>
        }
    </div>

    <script>
        $(document).ready(function () {
            $('#registerButton').prop('disabled', true); // Disable button initially

            $('#terms').change(function () {
                if ($(this).is(':checked')) {
                    $('#registerButton').prop('disabled', false); // Enable button if checkbox is checked
                } else {
                    $('#registerButton').prop('disabled', true); // Disable button if checkbox is unchecked
                }
            });    
        });
    </script>
</body>
</html>
