@model Web_Plane.Models.HANGHANGKHONG

@{
    ViewBag.Title = "Chỉnh sửa hãng hàng không";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<h2>Chỉnh sửa hãng hàng không</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin hãng hàng không</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.IDHK)

        <div class="form-group">
            @Html.LabelFor(model => model.TenHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IMG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IMG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Lưu</button>
                @Html.ActionLink("Trở về danh sách", "Danhsachhanghangkhong", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}
