@model IEnumerable<Web_Plane.Models.HANGHANGKHONG>

@{
    ViewBag.Title = "Danhsachhanghangkhong";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<h2>Danhsachhanghangkhong</h2>

<p>
    @Html.ActionLink("Create New", "Themdanhsachhanghangkhong")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDHK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamThanhLap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDHK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamThanhLap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Chinhsuadanhsachhanghangkhong", new { id = item.IDHK }) |
            @Html.ActionLink("Delete", "Xoadanhsachhanghangkhong", new { id = item.IDHK })
        </td>
    </tr>
}

</table>
