@model IEnumerable<Web_Plane.Models.HANGHANGKHONG>

@{
    ViewBag.Title = "Danh sách hãng hàng không";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<h2>Danh sách hãng hàng không</h2>

<p>
    @Html.ActionLink("Tạo mới", "Themdanhsachhanghangkhong")
</p>
<table class="table">
    <tr>
        <th>
            Số thứ tự
        </th>
        <th>
            Mã Hãng Hàng Không
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th></th>
    </tr>

    @{
        int counter = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDHK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMG)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Chinhsuadanhsachhanghangkhong", new { id = item.IDHK }) |
                @Html.ActionLink("Xóa", "Xoadanhsachhanghangkhong", new { id = item.IDHK })
            </td>
        </tr>
        counter++;
    }

</table>
